<!--user ends up here after logging in-->

<!--pet "lives" here and this will link to feeding, playing, etc-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Rescue Pals!</title>
		<link rel="stylesheet" href="stylesheets/home.css"/>
	</head>
	<body>
		<header role="banner" class="hero">
			<div class="hero-content">
				<div class="fence" role="presentation"></div>
				<div class="house" role="presentation"></div>
			</div>
		</header>
		<main role="main">
		<section class="page-section about-us">

		</section>
		<section class="page-section">
	
		</section>
		</main>
		<footer role="contentinfo">
			<div class="footer-container">
				<p>
					<small>Copyright 2016 Rescue Pals!</small>
				</p>
			<div class="footer-container">
				<%=  %>
			</div>
			</div>
		</footer>
	</body>
</html>