<!--user ends up here after signing up-->
<!--Dog profiles indexed here-->
<!--swap graphics for dog photos-->
<div class="background">
	<ul class="doglist">
	  <li><progress>Getting Dogs</progress></li>
	</ul>
</div>