<head>
	<link href="vendor/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>

<header>
	<h1>Rescue Pals!</h1>

	<!--add custom fonts-->

	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Login or Sign Up</button>
	</div>

<header>

<body>
	<section id="about">
		<div class="container">
			<h2> About </h2>
		</div>
	</section>

	<section id="team">
		<div class="container">
			<h2>Team<h2>
		</div>
	</section>
<body>

<footer>
	<p>Powered By: <a href="https://www.rescuegroups.org">Rescue Groups</a>
</footer>