<header>
	<h1>Rescue Pals!</h1>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn-default" id="lgn">Login or Sign Up</button>
	</div>

<header>

<body>
	<section class="about">
		<div class="container">
			<h2> About </h2>
              <hr>
			<p>The Rescue Pals web application was created to enhance the connections between animal lovers and animals who need to be loved. Our goal is to facilitate relationships between real dogs in need of new homes and individuals or families who are open to making those connections.</p>
		</div>
	</section>

	<section class="team">
		<div class="container">
			<h2>Our Team<h2>
             <hr>
			<div class="team-troy">
				<img src="">
				<h4>Troy Fournier</h4>
				<h5>Back-End Developer</h5>
				<p>"Man of few words"</p>
			</div>
			<div class="team-katy">
				<img src="">
				<h4>Katarina Atherholt</h4>
				<h5>Front-End Developer</h5>
				<p>"Mildly obsessed with pastels"</p>
			</div>
		</div>
	</section>
	<div class="modal-container hidden">
		<%= render 'home/modal', locals: {user: @user} %>
	</div>
<body>

<footer>
	<p>Powered By: <a href="https://www.rescuegroups.org">Rescue Groups</a>
</footer>
  