body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
}

.members {
    display: flex;
    flex-direction: row;
}

.sky{
    position: relative;
    background-size: contain;
    overflow: hidden;
    background: #d4fdff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 40em;
}

.stats-container {
    background: #d4fdff;
    height: 5em;    
}

.dogsleep {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dogfence {
    position: absolute;
    bottom: 0;
    left: 0;
}

.grass {
    position: relative;
    background-color: green;
    clear: both;
    width: 100%;
    height: 11em;
}

.dogfood {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 1em;
}

.dogpet {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 13em;
}

.dogplay {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 25em;
}
