body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
}

.members {
    display: flex;
    flex-direction: row;
}

.hero {
    background-size: cover;
    background: #d4fdff;
    color: #fff;
    text-align: center;
}

.fence {
    background-size: cover;
    background: url(homefence.png) repeat-x;
    position: absolute;
    width: 110%;
    height: 187px;
    left: -8%;
    bottom: -20%;
    z-index: 1;
}

.house {
    background-size: cover;
    background: url(housenoshadow.png);
    position: absolute;
    right: 0;
    width: 227px;
    height: 233px;
    bottom: -1%;
    z-index: 0;
}
