body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
}

.members {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.gif-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.eating {
    background-image: url('gifs/food.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.petting {
    background-image: url('gifs/pet.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.playing {
    background-image: url('gifs/fetch.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.sleeping {
    background-image: url('gifs/sleep.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.sky{
    position: relative;
    background-size: contain;
    overflow: hidden;
    background: #d4fdff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 40em;
}


.stats-container {
    background: #d4fdff;
    height: 5em;    
}

.dogavatar {
    position: absolute;
    bottom: 0;
    left: 1em;
    z-index: 2;
}

.dogsleep {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dogfence {
    position: absolute;
    bottom: 0;
    left: 0;
}

.grass {
    position: relative;
    background-color: green;
    clear: both;
    width: 100%;
    height: 11em;
}

.dogfood {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 1em;
}

.dogpet {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 13em;
}

.dogplay {
    position: absolute;
    width: 10em;
    height: 9em;
    bottom: 0;
    left: 25em;
}
