body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
}

.member {
    flex: 1;
}

.members {
    display: flex;
    flex-direction: row;
}

.hero {
    background-size: cover;
    background: #d4fdff;
    color: #fff;
    text-align: center;
}

.lgn-btn {
    font-size: 2.5em;
    color: #09a6f9;
}
 
.hero-content {
  z-index: 3;
  position: relative;
  box-sizing: border-box;
  padding: 10%;

}

.logo {
  width: 30em;
  height: 18em;
  margin: .5em;
}

.fence {
    background-size: cover;
    background: url(homefence.png) repeat-x;
    position: absolute;
    width: 110%;
    height: 187px;
    left: -8%;
    bottom: -20%;
    z-index: 1;
}

.house {
    background-size: cover;
    background: url(housenoshadow.png);
    position: absolute;
    right: 0;
    width: 227px;
    height: 233px;
    bottom: -1%;
    z-index: 0;
}
.page-section {
    background: #2274A5;
    color: white;
    padding: 3em;
}

.page-section-title {
    font-size: 2em;
    line-height: 2;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.page-section-body {
    font-size: 1.4em;
    line-height: 1.4;
}

.about-us {
    background: #22AB6D;
    padding-top: 8em;
}

.members {
    background: #2274A5;
    list-style: none;
}

.member-name {
  font-size: 1.7em;
  margin-left: 2em;
}

.member-image {
    width: 15em;
    height: 15em;
    float: left;
    border-radius: 50%;
    margin: 1em;
}

p:nth-child(3) {
    font-size: 1em !important;
}

p:nth-child(4) {
    font-style: italic; !important;
}

.hero-title {
    font-size: 3.5em;
    line-height: 2;
}

.footer-container {
    background: #2274A5;
}

small {
  color:#fff;
}

@media screen and (max-width: 55em) {
    .members {
        display: inherit; /*Allows for responsive columns*/
    }
}

.modal-container{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px;  /*Location of the box*/ 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.hidden{
  display: none;
}
