body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
}

.member {
    flex: 1;
}

.members {
    display: flex;
    flex-direction: row;
}

.hero {
    background-size: cover;
    background: #087E8B url(app/images/rect4425.png) 0 0;
    color: #fff;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
}

.hero-description {
    font-size: 1.5em;
}

.fence {
    background: url(images/homefence.png) repeat-x;
}
.page-section {
    background: #2274A5;
    color: white;
}

.page-section-title {
    font-size: 2em;
    line-height: 2;
    margin-bottom: 1em;
    text-align: center;
}

.page-section-body {
    padding: 5%;
    font-size: 1.4em;
    line-height: 1.4;
}

.about-us {
    background: #22AB6D;
}

.members-section {
    background: #2274A5;
}

.member-name {
  font-size: 2em;
}

.member-image {
    width: 15em;
    height: 15em;
    border-style: 
}

.hero-title {
    font-size: 3.5em;
    line-height: 2;
}

@media screen and (max-width: 55em) {
    .members {
        display: inherit; /*Allows for responsive columns*/
    }
}