
.heading {
  background-image:url('/assets/home.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 318px;
  width: 100%;

}

.btn-group {
  display: inline-block;
  float: right;
}


body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about {
   display: inline-block;
   border: 10px
   width: 100%;
   background-color: #22ab6d;
}

.container {
   margin-left:10%;
   margin-right: 10%;
   padding: 20px;
   font-size: 110%;

}


h2 {
  position: center;
}

.team {
  display: block;
  /*margin: 5%;*/
  padding: 20px;
  width: 100%;
  
}

.column {
  display: table-cell;
  
}

.troy {

  padding: 10px;
  background-color: #94B0DA;

}
.katy {

  padding: 10px;
  background-color: #8F91A2;
}


.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-size: 75%;
}

footer {
  display: inline-block;
  padding: 10px;
  margin-left: 4%;
}