.dog {
	float: left;
	clear: left;
	display: inline-block;
	width: 80%;
	margin: 2em;
	background: lightgrey;
	padding: 1em;
}

/*write if statement for data-breed to put dog graphics*/

.dog img {
	width: 5em;
	height: 100%;

}

.doglist {

}
