<!--lets user logout on any page-->
<footer style=" position: fixed; bottom: 0;">
	<p>Powered By: <a href="https://www.petfinder.com">Pet Finder</a> </p>
	<button>
		<% if current_user %>
    		<%= link_to "Logout", session_path("current"), method: :delete %>
 		 <% end %>
	</button>
</footer>