<!--lets user logout on any page-->
<footer style=" position: fixed; bottom: 0; background-color: black; color: white; width: 100%;">
	<p>Powered By: <a href="https://www.petfinder.com">Pet Finder</a> </p>
  <% if current_user %>
    <%= link_to "Logout", session_path("current"), method: :delete %>
  <% end %>
</footer>